body{
	background:linear-gradient(to right,red,yellow);
	padding: 0;
	margin: 0;
}


.navbar{
	height: 100vh;
	width: 100%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 10%;
	padding-right:10% ;
}

.logo{
	color: white;
	font-size: 28px;
}
span{
	color:red;

}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding:10px 20px;
}
nav ul li a{
	color:white;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover{
	color:red;
	transition: 0.3s;
}
button{
	border:none ;
	background:red;
	padding: 12px 30px;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	transition: 0.4s;
}
button:hover{
	transform:scale(1.3);
	cursor: pointer;
}



#user{
	display: flex;
	align-items: center;
	justify-content: center;
	flex direction: column;
	margin-top: 10px;
}
#user .num1{
	padding: 30px;
	border: 1px solid #cce7d0;
	border-radius: 15px;
	background: whitesmoke;
	position: relative;

}

#user .num1 .sign{
	position: absolute;
	bottom: 5px;
	right: 30px;
	margin-top: 10px;

}

#user .num1 .log{
	text-decoration: none;
	background-color: #199319;
	color: white;
	padding: 4px 15px;
	border-radius: 5px;
	position: absolute;
	left: 50px;
	bottom: 0;
	margin-top: 10px;
	
}

#user .num1 .fcc-btn{
	background-color: #199319;
	color: white;
	padding: 4px 15px;
	text-decoration: none;
	border-radius: 5px;
}

.fcc-btn a:hover{
	background-color: #ddd;
	color: black;
}

#new{
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}


#lab2{
	display:flex;
	align-items: center;
	justify-content: center;


}

#lab2 .la2{
	padding: 10px;
	border: 1px solid #cce7d0;
	border-radius: 15px;
	background: blue;
	color: white;
}

#arrival1{
	text-align: center;
}

#arrival1 .pro-arrival .new2{
	background-color: whitesmoke;
	padding: 10px;
}

#arrival1 .pro-arrival{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}


#arrival1 .new2{
	width: 15%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#arrival1 .new2:hover{
	box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
}


#arrival1 .new2 img{
	width: 100%;
	border-radius: 20px;
} 

#arrival1 .new2 .des1{
	text-align: start;
	padding: 10px 0;
}

#arrival1 .new2 .des1 span{
	color: 
	font-size: 15px;
}

#arrival1 .new2 .btn{
	border-radius: 5px;
	font-weight: 500;
	background-color: greenyellow;
	position: absolute;
	bottom: 40px;
	right: 10px;
	border: 1px solid;

}

#arrival1 .new2{
	color: black;
	font-size: 15px;
}


#products .productses{
	padding: 10px;
	border: 1px solid;
	border-radius: 20px;
	border-color: whitesmoke;
	margin-top: 10px;
	position: absolute;
}

#lab1{
	display:flex;
	align-items: center;
	justify-content: center;
}
#lab1 .lab{
	padding: 10px;
	border: 1px solid #cce7d0;
	border-radius: 15px;
	background: yellow;

}

#product1{
	text-align: center;
}

#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}


#product1 .pro{
	width: 15%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
}


#product1 .pro img{
	width: 100%;
	border-radius: 20px;
} 

#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span{
	color: 
	font-size: 15px;
}

#product1 .pro .btn{
	border-radius: 5px;
	font-weight: 500;
	background-color: greenyellow;
	position: absolute;
	bottom: 40px;
	right: 10px;
	border: 1px solid;

}

#product1 .pro h5{
	color: black;
	font-size: 15px;
}

footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 70px;
	background-color: black;
	margin-top: 10px;
	
}

h3{
	color: white;
}
p{
	color: white;
}

